{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <table style="margin: 0 auto;">
            <tr>
                <th>ID</th>
                <th>Coin</th>
                <th>Price</th>
            </tr>
        {% for i in range(coin|length) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td><a href="/coin/{{ coin[i].id }}")>{{ coin[i].name }}</a></td>
                <td>${{ coin[i].current_price }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}